.sidebar_category{
    margin-bottom: 50px;
    .section-title{
        h4{
            font-size: 18px;
            color: black;
            text-transform: uppercase;
            &:last-child{
                &:after{
                    display: block;
                }
            }
            &:after{
                position: absolute;
                background: red;
                content: " ";
                left: 0;
                bottom: 0;
                height: 2px;
                width: 70px;
            }
        }
    }
}


.category_accordian{
    .card{
        
    }
}